@charset "UTF-8";

#ProductionManagementMain>#PmMenu .Ws{
	background-color: white;
}

#ProductionManagementMain>#PmMenu .Rs{
	background-color: white;
}
.table-scroll {
	position:relative;
	max-width:600px;
	margin:auto;
	overflow:hidden;
	border:1px solid #000;
	float : left;
	margin-left: 50px;
	margin-top: 150px;
}
.table-wrap {
	width:100%;
	overflow:auto;
}
.table-scroll table {
	width:100%;
	margin:auto;
	border-collapse:separate;
	border-spacing:0;
}
.table-scroll th, .table-scroll td {
	padding:5px 10px;
	border:1px solid #000;
	background:#fff;
	white-space:nowrap;
	vertical-align:top;
}
.btns{
	height:50px;
	width:950px;
	position: absolute;
	text-align: right;
	margin-top: 500px;
}
.btns input[type="button" ] {
 height: 35px;
 width: 50px;
}
.Insert{
	text-align: center;	
	line-height: 65px;
	margin-top: 50px;
}

label{
	font-size: 20px;
}

input[type="text"]{
	width: 500px;
}

.btns{
	height:50px;
	width:950px;
	position: absolute;
	text-align: right;
	margin-top: 180px;
}
.btns input[type="button" ] {
 height: 35px;
 width: 50px;
}