@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'Nanum Myeongjo', serif;
}

* {
	box-sizing: border-box;
}

a {
	font-size: 20px;
	text-decoration: none;
	color: black;
}

ul, li {
	list-style: none;
}

h1 {
	text-align: center;
	font-weight: 300;
}
/* header 상단 고정*/
header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: white;
	z-index: 1000;
}

.header-logo {
	background-color: #4d2600;
}

.logo {
	display: block;
	width: 400px;
	margin: 0 auto;
	padding: 0;
}
/* 로그인 회원가입 고객센터*/
.btns-signin-signup {
	position: absolute;
	right: 5px;
	top: 45px;
	width: 400px;
	height: 30px;
	margin: 0 auto;
	text-align: center;
}

.btns-signin-signup a {
	margin: 10px;
	font-size: 16px;
	color: white;
}

.btns-signin-signup a:hover {
	color: white;
}

#shoppingcart {
	position: relative;
	width: 30px;
	height: 30px;
	top: -5px;
	left: -8px;
}

.section {
	margin-top: 170px;
}

.shopping {
	margin: 0 auto;
	margin: 20px 0 20px 0;
	text-align: center;
}

.shopping>span {
	margin: 0 30px 0 30px;
}

.shopping a:hover {
	font-weight: bold;
	transition: all 0.2s ease;
	color: #4d2600;
}