@charset "UTF-8";

#adShow {
	margin-left: 20px;
}

#administrationMain {
	height: 800px;
	width: 1200px;
}

#administrationMain>#adMenu {
	float: left;
	width: 180px;
	height: 616px;
	background-color: #8FBCDB;
}

#administrationMain>#adMenu ul {
	list-style: none;
}

#administrationMain>#adMenu>ul>li {
	height: 16px;
	padding-top: 5px;
}
#administrationMain>#adMenu>h3 {
	height: 20px;
	margin-left: 30px;
}

#administrationMain>#adMenu>ul>li>a {
	display: block;
}

#administrationMain>#adMenu>ul>li>a:link {
	text-decoration: none;
}

#administrationMain>#adMenu>ul>li>a:visited {
	color: black;
	text-decoration: none;
}

#administrationMain>#adMenu>ul>li>a:hover {
	color: gray;
	text-decoration: none;
	cursor: pointer;
}

#administrationMain>#adShow {
	float: left;
	height: 500px;
	width: 1000px;
}
