@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

#index{
	margin:0 auto;
	width: 1200px;
	
}

#userInfo{
	text-align:right;
	height:45px;
	line-height: 45px;
	color : #888;
}

<<<<<<< HEAD
<<<<<<< HEAD
#userInfo .approv{
	color : blue;
=======
#mainlink {
	width: 300px;
	height: 100px;
	padding-left: 10px;
	padding-top: 8px;
/* 	border: 2px solid black; */
<<<<<<< HEAD
	cursor: pointer;
>>>>>>> temp
=======
/* 	cursor: pointer; */
>>>>>>> temp
	
}

#userInfo .approv_cnt{
	color:red
	
}



#header {
	
<<<<<<< HEAD
=======
#mainlink {
	width: 300px;
	height: 100px;
	padding-left: 10px;
	padding-top: 8px;
/* 	border: 2px solid black; */
	cursor: pointer;
>>>>>>> temp
=======
>>>>>>> temp
}

#header>#menu {
	height: 150px;
	width: 1200px;
	background-image: url('/img/title.png');
	background-color: #8FBCDB;
	position: relative;
}

#header>#menu>ul {
	position: absolute;
	bottom: 0;
	right: 20px;
}

#header>#menu>ul>li {
	height: 60px;
	width: 230px;
	text-align: center;
	list-style: none;
	float: left;
<<<<<<< HEAD
<<<<<<< HEAD
	border: 2px solid black;
	margin-left: 10px
=======
=======
>>>>>>> temp
/* 	border: 2px solid black; */
	margin-left: 10px;
	font-size: 20px;
	padding-top: 20px;
	margin-bottom: 12px;
}

#header>#menu>ul>li>a {
	display: block;
	margin-top: -25px;
	padding: 1px;
}

#header>#menu>ul>li>a:link {
	text-decoration: none;
}

#header>#menu>ul>li>a:visited {
	color: black;
	text-decoration: none;
}

#header>#menu>ul>li>a:hover {
	color: gray;
	text-decoration: none;
	cursor: pointer;
<<<<<<< HEAD
>>>>>>> temp
=======
>>>>>>> temp
}

#main {
	height: 600px;
	width: 1200px;
}

#footer {
	height: 150px;
	width: 1200px;
<<<<<<< HEAD
<<<<<<< HEAD
	background-color: gray;
=======
	background-color: #8FBCDB;
	background-image: url('/img/footer.png');
>>>>>>> temp
}

/* login -------------------------- */
#login{
	width: 100%;
	margin: 200px auto;
	
}
#login form{
	text-align: center;
	font-size:16pt;
	line-height:33px;
}

#login label{
	display: inline-block;
	width: 80px;
	text-align: right;
	
}
#login input{
	font-size:16pt;
}

#login #btnLogin{
	width:130px;
	height:50px;
}

#login #info{
	font-size:11pt;
	color:#888;
	margin-top:30px;
}


.afterLogin{
	width:100%;
	color:#f00;
	text-align: center;
	font-size:30px;
	margin-top:300px;

}

<<<<<<< HEAD


















=======
	background-color: #8FBCDB;
	background-image: url('/img/footer.png');
}
>>>>>>> temp
=======
>>>>>>> temp
