@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

header,
footer {
  box-sizing: border-box;
}

header a {
  font-size: 20px;
  text-decoration: none;
  color: black;
}

header ul,
li {
  list-style: none;
}

/* header 상단 고정*/
header {
  font-family: "Nanum Myeongjo", serif;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 1000;
}

h1 {
  font-family: "Nanum Myeongjo", serif;
}

.header-logo {
  background-color: #4d2600;
}

.logo {
  display: block;
  width: 400px;
  margin: 0 auto;
  padding: 0;
}
/* 로그인 회원가입 고객센터*/
.btns-signin-signup {
  position: absolute;
  right: 5px;
  top: 45px;
  width: 400px;
  height: 30px;
  margin: 0 auto;
  text-align: center;
}

.btns-signin-signup a {
  margin: 10px;
  font-size: 16px;
  color: white;
}

#shoppingcart {
  position: relative;
  width: 30px;
  height: 30px;
  top: -5px;
  left: -8px;
}

.shopping {
  margin: 0 auto;
  margin: 20px 0 20px 0;
  text-align: center;
}

.shopping > span {
  margin: 0 30px 0 30px;
}

.shopping a:hover {
  font-weight: bold;
  transition: all 0.2s ease;
  color: #4d2600;
}

.section {
  margin-top: 180px;
  min-height: 100%;
}

.shopping {
  position: relative;
  margin: 0 auto;
  margin: 20px 0 20px 0;
  text-align: center;
}

.shopping > span {
  margin: 0 30px 0 30px;
}

.shopping a:hover {
  font-weight: bold;
  transition: all 0.2s ease;
  color: #4d2600;
}

/*footer 하단 고정*/
footer {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  background-color: #4d2600;
  padding: 5px;
  padding-top: 20px;
  text-align: center;
  color: white;
  font-size: 14px;
  font-family: "Nanum Myeongjo", serif;
}

.footer li {
  margin-bottom: 10px;
}

/* findID css start */

/* 
.wrapper {
  border: 1px solid rgb(230, 236, 196);
  background-color: rgb(214, 188, 199);
  width: 650px;
  height: 380px;
  margin: 0 auto;
} */

#id {
  color: rgb(192, 31, 79);
  font-weight: bolder;
}
.main-body {
  font-family: "Noto Sans KR", sans-serif;
  min-height: 100%;
  position: relative;
}

form {
  margin-top: 200px;
}

.main-title {
  font-size: 2.3rem;
  text-align: center;
  font-family: "Nanum Myeongjo", serif;
}

.sub-title {
  font-size: 1.5rem;
}

.title {
  text-align: center;
}

.title > a {
  text-decoration: none;
  color: rgb(180, 179, 179);
  font-size: 0.9rem;
  font-weight: 800;
}

.title > a:hover {
  text-decoration: none;
  color: #4d2600;
  cursor: pointer;
}

.input {
  font-size: medium;
  width: 350px;
  height: 50px;
  margin: 0;
  padding: 0;
  border: 1px solid gray;
}

.findid-button {
  margin-top: 20px;
  width: 350px;
  height: 60px;
  padding: 0;
  border: 0;
  background-color: rgb(95, 55, 2);
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 800;
}

.findid-button:hover {
  background-color: burlywood;
  transition: 0.3s;
  cursor: pointer;
}

.signup-button {
  width: 350px;
  height: 60px;
  padding: 0;
  border: 0;
  background-color: rgb(95, 55, 2);
  color: white;
  font-size: 1rem;
  font-weight: 800;
}

.signup-button:hover {
  background-color: burlywood;
  transition: 0.3s;
  cursor: pointer;
}

p {
  text-align: center;
}

/* findId css end */
